*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    background: linear-gradient(116.82deg, #0BA689 0%, #ECEFC4 0.01%, #F7DC89 100%);
    background-repeat: no-repeat;
}
@font-face {
    font-family: "Outfit";
    src: url(./font/static/Outfit-Regular.ttf);
}
@font-face {
    font-family: "Outfit_medium";
    src: url(./font/static/Outfit-Medium.ttf);
}
section{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-black{
    width:  85vw;
    height: 85vh;
    background-image: url(./img/bckgroundblack.png);
    background-size: cover;
    border-radius: 15px;
}
h1{
    font-family: "Outfit_medium";
    font-weight: 500;
    font-size: 2.813em;
    text-align: center;
    color:rgba(247, 218, 132, 1);
}
.placeh1{
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon1{
    position: absolute;
    left: 30%;
}

/*CONTENU PASSWORD LENGTH*/

.contlength{
    background-color: #0BA689;
    height: 15%;
    margin-top: 3%;
}
.passwordlen{
    font-size: 1em;
    font-family: "Outfit";
    font-weight: 400;
    color: #F7DA84;
    margin-left: 0.5%;
}
.iconlen{
    height: 16px;
    margin-top: 0.2%;
}
.placetitre{
    display: flex;
    margin-left: 28%;
}
.progressbar{
    width: 18.5%;
    height: 20px;
    background-color: rgba(247, 218, 132, 1);

}
